/* Custom */
@font-face {
  font-family: 'Rocher';
  src: url('@/assets/font/RocherColorGX.woff2');
}

* {
  /* box-sizing: border-box; */
  --t: rgba(104, 8, 8, 0);
  --w: #ffe300;
  --c1: #ffcd00;
  --c2: #fda000;
  --c3: #e57400;
  --c4: #fda000;
  --c5: #ffcd00;
  --c6: #4b220b;
  --shine-angle: 15deg;
}

.option-default {
  @apply cursor-pointer;
}

.option-default div:nth-child(1) {
  @apply hidden;
}

.option-default div:nth-child(2) div:nth-child(1) {
  @apply inline;
  background-color: var(--c1);
  color: var(--c6)
}

.option-default div:nth-child(2) {
  @apply text-gray-800;
  color: var(--c6)
}

/* wrong custom class */

.option-wrong {
  @apply cursor-pointer;
}

.option-wrong div:nth-child(1) {
  @apply hidden;
}

.option-wrong div:nth-child(2) div:nth-child(1) {
  @apply inline bg-gray-800 text-white;
}

.option-wrong div:nth-child(2) {
  @apply bg-red-600 text-white;
}

/* correct custom class */

.option-correct {
  @apply cursor-pointer;
}

.option-correct div:nth-child(1) {
  @apply inline;
}

.option-correct div:nth-child(2) div:nth-child(1) {
  @apply bg-gray-800 text-white;
}

.option-correct div:nth-child(2) {
  @apply bg-green-600 text-white;
}

/* CUSTOM FONT */

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 11;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 1;
}
